
/out/
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.vcxproj.user
*.suo
*.user
*.opensdf
*.sdf
*.idb
*.pdb
*.ipch
*.obj
*.o
*.exe
*.lib
*.dll
*.log

.vs/
*.vcxproj.*
*.vcxproj.user
*.suo
*.user
*.ncb
*.opensdf
*.sdf


/src1/


*.tmp
*.temp
*.bak
*.swp
*.DS_Store

